/* Quiz CSS */
.profile {
    background-color: #00544F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.phone-screen-div {
    background-color: #EFEBE2;
    width: 395px;
    height: 755px;
    position: relative;
}

.question-block {
    position: absolute;
    width: 344px;
    height: 33%;
    top: 315px;
    left: 25px;
    background-color: #1f24290d;
    border-radius: 24px;
    border: 1px solid;
    border-color: #1f242933;
    box-shadow: 0px 20px 25px #00000040;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    top: 62px;
    left: 20px;
    right: 20px;
    font-family: var(--t2-semibold-font-family);
    font-weight: var(--t2-semibold-font-weight);
    color: var(--grey-1000);
    font-size: var(--t2-semibold-font-size);
    letter-spacing: var(--t2-semibold-letter-spacing);
    line-height: var(--t2-semibold-line-height);
    font-style: var(--t2-semibold-font-style);
    white-space: normal;
}

.next-prev-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    bottom: 15px;
    gap: 15px;
    right: 20px;
    width: 100%;
}

.prev-button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--body-medium-font-family);
    font-weight: var(--body-medium-font-weight);
    color: #1F2429;
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    white-space: nowrap;
    font-style: var(--body-medium-font-style);
    background-color: none;
}

.next-button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    margin-top: -1.00px;
    font-family: var(--body-medium-font-family);
    font-weight: var(--body-medium-font-weight);
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    white-space: nowrap;
    font-style: var(--body-medium-font-style);
    background-color:#1F2429;
    border-radius: 20px;
    padding: 10px;
    width: 17%;
    display: flex;
    justify-content: center;
    color: white;
}

.response-button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 4px;
    position: relative;
    flex: 0 0 auto;
    background-color: #2d353c1a;
    border-radius: 12px;
}

.response-content {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 4px;
    flex: 0 0 auto;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: none;
    border: none;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
}

.response-text-wrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 10px;
    font-family: var(--body-semibold-font-family);
    font-weight: var(--body-semibold-font-weight);
    color: var(--grey-1000);
    font-size: var(--body-semibold-font-size);
    text-align: center;
    letter-spacing: var(--body-semibold-letter-spacing);
    line-height: var(--body-semibold-line-height);
    white-space: nowrap;
    font-style: var(--body-semibold-font-style);
}

.response-content:hover {
    background-color: #ababab;
    border-radius: 12px;
}

.response-content.selected {
    background-color: #969593; 
    border-color: none; 
    border-radius: 12px;
}

.progress-bar-container {
    display: flex;
    width: 340px;
    height: 46px;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px 12px 6px 20px;
    position: absolute;
    top: 11px;
    left: 1px;
    border-radius: 24px 24px 0px 0px;
}

.progress-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.uncompleted-progress-bar {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 3px;
    background-color: #1f242933;
    border-radius: 100px;
}

.completed-progress-bar {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 3px;
    background-color: #1f2429;
    border-radius: 100px;
}

.exit-button {
    position: relative;
    width: 32px;
    height: 32px;
}

.x-symbol {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
}

.question-response-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    justify-content: space-evenly;
    top: 123px;
    left: 10px;
    right: 10px;
}

.open-question {
    display: flex;
    width: 90%;
    left: 10px;
    right: 10px;
}

.open-question-box {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    background-color: none;
    border:none;
    width: 100%;
    left: 10px;
    right: 10px;
}

.open-question-wrapper {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--body-medium-font-family);
    font-weight: var(--body-medium-font-weight);
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    font-style: var(--body-medium-font-style);
    border: 1px solid #c2b7a8;
    border-radius: 7px;
    background-color: #d7d5cc;
    height: 35px;

    
}

/* Intro Card CSS */

.intro-card-block {
    position: absolute;
    width: 344px;
    height: 446px;
    top: 203px;
    left: 25px;
}

.bottom-group {
    position: absolute;
    width: 344px;
    height: 248px;
    top: 198px;
    left: 0;
}

.block-footer {
    display: flex;
    width: 340px;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 168px;
    left: 250px;
    z-index: 1;
    background-color: transparent;
}

.intro-next-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding:10px;
    width: 52px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--grey-1000);
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: var(--body-medium-font-weight);
}

.intro-card-content-block {
    display: flex;
    flex-direction: column;
    width: 344px;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 20px 20px;
    position: absolute;
    top: 60px;
    left: 0;
    white-space: normal;
}

.intro-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.intro-card-title-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--t2-semibold-font-family);
    font-weight: var(--t2-semibold-font-weight);
    color: var(--grey-1000);
    font-size: var(--t2-semibold-font-size);
    letter-spacing: var(--t2-semibold-letter-spacing);
    line-height: var(--t2-semibold-line-height);
    font-style: var(--t2-semibold-font-style);
}

.intro-card-blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.intro-card-blurb-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #1f2429cc;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
}

.intro-card-background {
    position: absolute;
    width: 344px;
    height: 248px;
    top: 0;
    left: 0;
    background-color: #1f24290d;
    border-radius: 24px;
    border: 1px solid;
    border-color: #1f242933;
    box-shadow: 0px 20px 25px #00000040;
}

.intro-card-image {
    position: absolute;
    width: 195px;
    height: 195px;
    top: -10px; 
    left: 50%;   
    transform: translateX(-50%);
    border-radius: 15px 15px 0px 0px;
}


.end-card-block {
    position: absolute;
    width: 344px;
    height: 446px;
    top: 95px;
    left: 25px;
}

.end-bottom-group {
    position: absolute;
    width: 344px;
    height: 248px;
    top: 198px;
    left: 0;
}

.end-block-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: absolute;
    top: 205px;
    z-index: 1;
    background-color: transparent;
}

.end-match-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding:10px;
    width: 60px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--grey-1000);
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: var(--body-medium-font-weight);
}

.end-next-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding:10px;
    width: 60px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--grey-1000);
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: var(--body-medium-font-weight);
}


.end-card-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 344px;
    gap: 15px;
    padding: 0px 20px 20px;
    position: absolute;
    top: 50px;
    white-space: normal;
}

.end-card-title {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 70%;
    text-align: center;
}

.end-card-title-wrapper {
    position: relative;
    font-family: var(--t2-semibold-font-family);
    font-weight: var(--t2-semibold-font-weight);
    color: var(--grey-1000);
    font-size: large;
    line-height: var(--t2-semibold-line-height);
    font-style: var(--t2-semibold-font-style);
    letter-spacing: 0.5px;
}

.end-card-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
}

.end-card-blurb-wrapper {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #1f2429cc;
    font-size: 15px;
    line-height: 20px;
}

.end-card-background {
    position: absolute;
    width: 344px;
    height: 285px;
    top: 0;
    left: 0;
    background-color: #1f24290d;
    border-radius: 24px;
    border: 1px solid;
    border-color: #1f242933;
    box-shadow: 0px 20px 25px #00000040;
}
