.quest-details-overlap {
  display: flex;
  justify-content: center;
  background-color: #EFEBE2;
  padding: 20px;
}

.quest-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin-top: 180px;
}

.quest-details-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
  object-fit: contain;
}

.quest-details-card {
  background: #e5e1d9;
  border-radius: 24px;
  padding: 32px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.quest-details-title {
  font-family: "Besley-SemiBold", Helvetica;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 27px;
  font-weight: bold;
  color: #000000;
}

.quest-details-description {
  text-align: left;
  color: #4b4e50;
  margin: 0 0 32px 0;
  line-height: 1.5;
  font-size: 18px;
  padding: 0 16px;
}

.quest-details-button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.quest-details-icon-button {
  background-color: #dbd8d0;
  border: none;
  border-radius: 16px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.quest-details-icon-button:hover {
  background-color: #EFEBE2;
}

.quest-details-icon-button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.quest-details-hint-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.quest-details-hint-card {
    background: #e5e1d9;
    border-radius: 24px;
    padding: 32px;
    width: 90%;
    max-width: 340px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: goFromBottom 0.5s;
}

.quest-details-hint-title {
    font-family: "Besley-SemiBold", Helvetica;
    text-align: center;
    margin: 18px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.quest-details-hint-text {
    text-align: left;
    color: #4b4e50;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
}

@keyframes goFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}